.root {
    -fx-color-background-main: #ffffff; /* White */
    -fx-color-background-secondary: #f9fafc; /* Greyish white */
    -fx-color-border: #f2f4f7; /* Grey border */
    -fx-color-main: #5e35ff; /* Bright purple */
    -fx-color-secondary: #fa9246; /* Bright Orange */
    -fx-color-text-main: #0c0e12; /* Black Text */
    -fx-color-text-secondary: #b3b8c0; /* Dark Grey Text */
}

.background {
    -fx-background-color: -fx-color-background-main;
    background-color: -fx-color-background-main; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* Tab styling */
.tab-pane {
    -fx-tab-min-height:32px;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-color-background-secondary;
}

.tab {
    /* Remove small gap between tabs */
    -fx-background-insets: 0.0;
    -fx-background-color: -fx-color-background-secondary;
    -fx-padding: 0 10 0 10;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-color-text-secondary;
    -fx-font-size: 16px;
}

.tab:selected {
    -fx-background-color: derive(-fx-color-main, 13.5%);
}

.tab:selected .tab-label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tab:focused {
    -fx-focus-color: red;
}

.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: -fx-color-background-main;
    -fx-background-color: -fx-color-background-main;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -fx-color-text-main;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: -fx-color-background-main;
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: -fx-color-background-main;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: -fx-color-background-main;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 16 16 8 16;
    -fx-background-color: -fx-color-background-secondary;
}

.list-cell:filled:selected {
    -fx-background-color: -fx-color-background-secondary;
}

.list-cell #cardPane {
    -fx-background-radius: 20;
}

.list-cell:selected #cardPane {
    -fx-effect: dropshadow(one-pass-box, -fx-color-main, 10, 0.5, 1.0, 1.0);
}

.list-cell .label {
    -fx-text-fill: -fx-color-text-main;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: -fx-color-text-main;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: -fx-color-text-main;
}

.stack-pane {
     -fx-background-color: derive(-fx-color-background-main, 20%);
}

.pane-with-border {
     -fx-background-color: derive(-fx-color-background-main, 20%);
     -fx-border-color: -fx-color-border;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(-fx-color-background-main, 30%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: -fx-color-text-main;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -fx-color-text-secondary;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(-fx-color-background-main, 30%);
    -fx-border-color: derive(-fx-color-background-main, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: -fx-color-text-secondary;
}

.grid-pane {
    -fx-background-color: derive(-fx-color-background-main, 30%);
    -fx-border-color: derive(-fx-color-background-main, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(-fx-color-background-main, 30%);
}

.context-menu {
    -fx-background-color: derive(-fx-color-background-main, 50%);
}

.context-menu .label {
    -fx-text-fill: -fx-color-text-main;
}

.menu-bar {
    -fx-background-color: derive(-fx-color-background-main, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: -fx-color-text-main;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: -fx-color-background-main;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: -fx-color-text-secondary;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: -fx-color-main;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: -fx-color-text-main;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: -fx-color-background-main;
    -fx-text-fill: -fx-color-text-secondary;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: -fx-color-text-main;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: -fx-color-background-main;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: -fx-color-background-main;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-color-text-main;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(-fx-color-background-main, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: -fx-color-text-main;
    -fx-text-fill: -fx-color-text-main;
}

.scroll-bar {
    -fx-background-color: derive(-fx-color-border, 10%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(-fx-color-border, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: -fx-color-background-main;
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 1.0, 1.0);
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: -fx-color-background-secondary;
    -fx-background-insets: 0;
    -fx-border-color: -fx-color-background-secondary -fx-color-background-secondary
                        -fx-color-main -fx-color-background-secondary;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: -fx-color-text-main;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, -fx-color-background-main, transparent, -fx-color-background-main;
    -fx-background-radius: 0;
}

#tags, #students, #gradedTests {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label, #students .label, #progress .label {
    -fx-text-fill: white;
    -fx-background-color: -fx-color-main;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

#gradedTests .label {
    -fx-wrap-text: true;
    -fx-text-fill: white;
    -fx-background-color: -fx-color-secondary;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
    -fx-margin: 3 7 3 7
}

.date_small_label {
    -fx-text-fill: white;
    -fx-background-color: -fx-color-secondary;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
}


