.root {
    -fx-color-background-main: #ffffff; /* White */
    -fx-color-background-secondary: #f9fafc; /* Greyish white */
    -fx-color-border: #f2f4f7; /* Grey border */
    -fx-color-main: #5e35ff; /* Bright purple */
    -fx-color-secondary: #fa9246; /* Bright Orange */
    -fx-color-text-main: #0c0e12; /* Black Text */
    -fx-color-text-secondary: #b3b8c0; /* Dark Grey Text */
}

.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: -fx-color-background-main;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: -fx-color-text-main;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: -fx-color-text-main;
}

.section-label {
    -fx-font-size: 18px;
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: -fx-color-main;
}
